body{
	margin-left: 10em;
	margin-right:10em;	 
}


hr{
	background-color: #E907C0;
}
nav{
	background: linear-gradient(0.40turn, black,black, transparent,black, black);

}

.jumbotron{
	background-color:black;
	margin: 0;
	padding: 0;
}

.alert{
	padding: 2em;
	text-align: center;
	background: linear-gradient(0.30turn, white, black,black, white);
	border: none;
}
h1{
	color: cyan;
}
h2{
	color:#E907C0; 
}
h3{
	color: #E907C0;
	text-align: center;
	padding: 2em;
	

}
h4{
	color: purple;
}
h5{

}

.card{
	border: none;
	background-color: #D5D8DC;
	margin: 5px;
	
}

.container{
	padding: 5em;
	background-color: #D5D8DC;	
}
.container-bonus{
	background-color: grey;
	padding: 3em;
	color: white;	
}




/*AGRANDIR UNE IMAGE AU PASSAGE DE LA SOURIS*/
.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img {
/* L'image est doublée */
-webkit-transform:scale(2); /* Safari et Chrome */
-moz-transform:scale(2); /* Firefox */
-ms-transform:scale(2); /* Internet Explorer 9 */
-o-transform:scale(2); /* Opera */
transform:scale(2);
}

.image{
	margin-top: 3em;
	margin-bottom: 3em;
}

.partage{
	text-align: right;
}
.partage img:hover{
	transform: rotate(400deg);
}

footer{
	background:linear-gradient(to top, white,20%,black);
	color: white;
	padding: 5em;
}